<div class="container">
    <div class="info">
        <div class="img-avatar">
            <img src="../../../assets/images/Avatar/3.jpg" alt="avatar">
        </div>
        <h2>Đỗ Xuân Dũng</h2>
        <p>0323 654 897</p>
        <p>dung1234@gmail.com</p>
        <p class="line"></p>
    </div>
    <div class="share-file">
        <div class="tittle">
            <p>TỆP ĐÃ CHIA SẺ</p>
            <span class="icon-dropdown" (click)="showAllFile()">
                <img [src]="showFile ? icondropTrue : icondropFalse" alt="dropdown">
            </span>
        </div>
        <div class="file" *ngIf="showFile">
            <p *ngFor="let file of fileShared"><a href="#"><span><img src="../../../assets/icons/IconAppChat/pdf-icon.svg" alt="PDF"></span> {{file.name}}</a></p>
        </div>
        <p class="line"></p>
    </div>
    <div class="share-img">
        <div class="tittle">
            <p>ẢNH ĐÃ CHIA SẺ</p>
            <span class="icon-dropdown" (click)="showAllImg()">
                <img [src]="showImg ? icondropTrue : icondropFalse" alt="dropdown">
            </span>
        </div>
        <div *ngIf="showImg" class="img-share">
            <div class="item1" *ngFor="let image of imageShared"><img [src]="image.img" alt="image"></div>
        </div>
    </div>
</div>