<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <app-left-side-navigation-bar></app-left-side-navigation-bar>
        <div class="content-message">
            <app-header-message></app-header-message>
            <div class="content-message-list">
                <div class="list-message">
                    <div class="message">
                        <app-message></app-message>
                    </div>
                    <app-send-message></app-send-message>
                </div>
                <div class="about">
                    <app-about></app-about>
                </div>
            </div>
        </div>
    </div>
</div>