.container {
    height: 61px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
}

.send {
    margin-left: 24px;
}

.buzz {
    display: flex;
    background-color: #f86060;
    border-radius: 3px;
    width: 43px;
    height: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.buzz p {
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}

.send input {
    border: 0;
    width: 88%;
    font-size: 13px;
    color: #9e9e9e;
    margin-left: 16px;
}

.input-message {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 7.5px;
    border: 1px solid #e0e0e0;
    width: 100%;
    margin-right: 16px;
    height: 39px;
    overflow: hidden;
}

.send input:focus {
    outline: 0;
}

.input-message img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-left: auto;
    order: 2;
}