<div class="container">
    <div class="send"><img src="../../../assets/icons/IconAppChat/10.svg" alt="send file"></div>
    <div class="send"><img src="../../../assets/icons/IconAppChat/9.svg" alt="send file"></div>
    <div class="send"><span class="buzz">
            <p>Buzz!</p>
        </span></div>
    <div class="send input-message">
            <input type="text" placeholder="Nhập nội dung tin nhắn, gõ @tên để nhắc tên">
            <img src="../../../assets/icons/IconAppChat/7.svg" alt="icon">
    </div>
</div>