<div class="header">
    <div class="head-left">
        <div class="avatar">
            <img src="../../../assets/images/Avatar/3.jpg" alt="avatar">
        </div>
        <div class="info">
            <p class="username">Đỗ Xuân Dũng</p>
            <p class="active">hoạt động 12 phút trước</p>
        </div>
    </div>
    <div class="head-right">
        <div><img src="../../../assets/icons/IconboxChat/8.svg" alt="search-icon"></div>
        <div (click)="ShowAbout()"><img src="../../../assets/icons/IconAppChat/5.svg" alt="about-icon"></div>
        <div><img src="../../../assets/icons/IconAppChat/2.svg" alt="more-icon"></div>
    </div>
</div>